<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Page</title>
    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            font-size: x-large;
            text-align: center;
            height: 40px;
            background: grey;
        }
    </style>
</head>
<body bgcolor="black">
    <center>
        <h1 style="color: springgreen">Share File Locally</h1>
        <p style="color: whitesmoke; font-size: large;">
            Choose any listed file in below
        </p>
        <ul>
            {% for file in _files %}
                <li style="color: blue">
                    <a href="/file_download/{{file}}" download="">
                        <b>{{file}}</b>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </center>
    <div id="footer">
        Developed by SAYED
    </div>
</body>
</html>