<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            font-size: x-large;
            text-align: center;
            height: 40px;
            background: grey;
        }
    </style>
</head>
<body bgcolor="black">
    <center>
        <h1 style="color: springgreen">Share File Locally</h1>
        <p style="color: whitesmoke; font-size: large;">
            Wanna <span><a href="/share" style="color: blue;">Share</a></span> or <span><a href="/download" style="color: blue;">Download</a></span>
        </p>
    </center>
    <div id="footer">
        Developed by SAYED
    </div>
</body>
</html>